USE [master]
GO
/****** Object:  Database [TelegramBot]    Script Date: 19.12.2018 18:05:58 ******/
CREATE DATABASE [TelegramBot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelegramBot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TelegramBot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TelegramBot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TelegramBot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelegramBot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelegramBot]
GO
USE [TelegramBot]
GO
/****** Object:  Table [dbo].[Fridge]    Script Date: 19.12.2018 18:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fridge](
	[Id_fridge] [int] NOT NULL,
	[products] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
CREATE TABLE [dbo].[Recipe](
	[Id_recipe] [int] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Fridge_id] [int] NOT NULL,
	[Ingredients] [varchar](max) NOT NULL,
	[Recipe][varchar](max),
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
